body{
    color: rgb(0, 0, 0);

}
.alrededor{
    margin-top: 8%;
    border: 2px solid white;
    margin-left: 6%;
    margin-right: 6%;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    background-color: white;
}
.titulo{
    margin-left: 6%;
    margin-right: 6%;

}
.dietyimagen{
    display:flex;
    flex-direction:row
}
.dietas{
    display:flex;
    flex-direction:column
}
.image {
    margin-top: -7%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    border: solid 2px;
    border-color: black;

  }
.field{
    border: solid 2px;
    border-color: black;
}
  .div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: solid 2px;
    border-color: black;
    } 
    .button {
        background: transparent;
        border: 2px solid white;
        border-radius: 6px;
        color: black;
        padding: 10px 32px;
        text-align: center;
        display: inline-block;
        font-size: 15px;
        margin: 10px 2px;
        cursor: pointer;
        text-decoration: none;
        text-transform: uppercase;
        transition: background 0.4s, color 0.4s;
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);

      }
      .button:hover {
        border: 2px solid rgb(0, 0, 0);
        background: white;
        color: black;
      }
    .divizq{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 30%;
    }
    .divderecho{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 30%;

    
    
    }

    @media (max-width: 600px) {
  
    
        .dietyimagen{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            }
            .div{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: solid 2px;
                border-color: black;
                } 
        }

      