.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.pagination button {
    width: 40px;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
    background: transparent;
    border: 2px solid white;
    border-radius: 1px;
    color: rgb(5, 4, 4); 
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);

}

.pagination button.active {
    font-weight: 900;
    border-color:  white;
    background: rgba(45, 201, 55, 0.921);
    color: white;
}